*{
    margin: 0px;
    padding: 0px;
    font-family: Century Gothic;
}
.container{
    width:73.5%;
    margin:0 auto;
}
.center_everything{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    text-align: center;
}
.flax-direction-row{
    flex-direction: row;
}
.flax-direction-colmn{
    flex-direction: column;    
}
.space-evenly{
    justify-content: space-evenly; 
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
/* --------------NAVBAR------------------- */
.nevigation{
    width: 100%;
    height: 51px;
    background-color: #0082cc;
    position: fixed;
}
.logo {
    float: left;
    overflow: hidden;
    height: 51px;
}
.logo h1 {
    float: left;
    padding: 5px 5px;
    background: white;
    color: #0082cc;
    height: 100%;
    overflow: hidden;
}

.logo p{
    float: right;
    padding: 14px 15px;
    font-family: Century Gothic;
    text-align: center;
    color: white;
    font-size: 18.89px;
    
}
.junction{
    color: #fff100;
}
nav{
    float: right;
    width: 65%;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}
nav li{
    list-style: none;

}
nav li a{ 
    display: block;
    float: right;
    text-decoration: none;
    color: black;
    padding: 16px 12px;
    font-family: Century Gothic;
    text-align: center;
    color: white;
    font-size: 18.69 px;
    transition: all ease-in-out 0.5s;
    position: relative; 
}

nav li a:hover{
    color: yellow; 
}

nav li ul li a{
    background: #0067a3;
    width: 120px;
    margin-top: 2px;
}
nav li ul li a:hover{
    background-color: #0082cc;
}
nav li ul {
    position: absolute;
    top: 70px;
    right: 255px;
}
.navbar_ul{
    visibility: hidden;
    opacity: 0;
    top: 70px;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}
.cat:hover .navbar_ul{
    top: 50px;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.navbar_ul_service{
    visibility: hidden;
    opacity: 0;
    top: 70px;
    transition: all 0.2s ease-in-out;
    z-index: -1;
    right: 410px;
    
}
.cat_service:hover .navbar_ul_service{
    top: 50px;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.navbar_ul_support{
    visibility: hidden;
    opacity: 0;
    top: 70px;
    transition: all 0.2s ease-in-out;
    z-index: -1;
    right: 550px;
}
.cat_support:hover .navbar_ul_support{
    top: 50px;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}




.nav_button {
    display: none;
    width: 50px;
    height: 40px;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    right: 5px;
    top: 5px;
}
.nav_button img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:960px) {
    nav{
        width: 67%;
    }
}
@media screen and (max-width:1024px) {
    nav li a{     
        padding: 16px 6px;
    }
}
@media screen and (max-width:414px) {
    .nav_button {
        display: block;
    }
    nav {
        position: absolute;
        height: 0px;
        right: 0px;
        top: 51px;
        background-color: gray;
        width: 100%;
    }
    nav li a {
        float: none;
        text-align: right;
        padding-right: 20px;
    }
}

/* --------------NAVBAR--------------------*/

/* --------------slider--------------------*/
.slider_wrapper{
    width:100%;
    background-color: #8CB2FF;
    height: 768px;
    color: white;
}
.slider_content{
    height: 100%;
    
}
.Slider_header h1{
    font-size: 70.94px;
}
.Slider_header p{
    font-size: 22px; 
}
.Slider_header{
    font-family: Century Gothic;
}
.Sliderjunction{
    

}
.sliderButton{
    
}
.sliderButton a{
    text-decoration: none;
    border: 1px white solid;
    color: white;
    padding: 10px;
    font-family: Century Gothic;
    margin-top: 61px;
    width: 232px;
}
.Sliderjunction{
    color: #FF0000;
}
@media screen and (max-width:414px) {
    .sliderButton a {
        width: 160px;
    }
    .Slider_header h1,.Slider_header p {
            text-align: center;
    }
    
}
@media screen and (max-width:320px){
    .Slider_header{
        width: 250px;
    }
    .Slider_header h1{
        font-size: 60px;
    }
    .sliderButton a {
        width: 100px;
    }
}
/* --------------slider--------------------*/
/* --------------Number_of_product--------------------*/
.Number_of_product{
    height: 115px;
    text-align: center;
}
.Number_of_product_wrapper{
    
}
.Number_of_product h1{
    font-size: 40px; 
}
@media screen and (max-width:414px) {
    .Number_of_product h1{
        font-size: 20px;
    }
    .Number_of_product p{
        font-size: 8px;
    }    
}
@media screen and (max-width:375px) {
    .Number_of_product div{
        width:50px;
        text-align: center;

    }    
}

/* --------------Number_of_product--------------------*/
/* --------------description_one--------------------*/
.description_one_article_wrapper{
    background-color: #D2D2D2;
}
.description_one p{ 
    text-align: center;
    font-size: 13px;
    color: #686868;
    margin-top: 84px;
}
.description_one h2{
    font-size: 24px;
    text-align: center;
}
.description_one h1{
    margin-top: 68px;
    font-size: 31.46px; 
    text-align: center;
}
.description_one_article_button{
    margin-top: 49px;
}
.description_one_article_button a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Century Gothic;
    border: 1px #898989 solid;
    display: block;
    width: 200px;
    height: 54px;
    text-align: center;
    padding-top:29px; 
    background-color: white;
    font-size: 13px;
}
.description_one img{
    margin-top: 56px;
}
.description_one{

}
@media screen and (max-width:320px) {
    .description_one_article_button a {
        width: 150px;

    }
}
/* --------------description_one--------------------*/
/* --------------description_two--------------------*/
.description_two_article_wrapper{
    background-color: #00AEEF;
}
.description_two{
    height: 150px;
    font-size: 30px;
    color: white;
}
.description_two a{
    color:white;
}
@media screen and (max-width:414px) {
    .description_two {
        text-align: center;
        font-size: 20px;
    }
}
/* --------------description_two--------------------*/
/* --------------description_three--------------------*/
.description_three_article_wrapper{
    
}
.description_three_article{
    height: 635px;
}
.description_three_article h1{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}
.description_three_article article h4{
    color:#FF0005;
}
.description_three_article article{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-gap: 10px;
    margin-top:63px;   
}
.description_three_article article div h4{
    font-size: 17px;
    font-weight: normal;
}
.description_three_article article div p{
    font-size: 16px;
    color: #838383;
}
@media screen and (max-width:414px) {
    .description_three_article {
        height: 1340px;
    }   
}
@media screen and (max-width:375px){
    .description_three_article {
        height: auto;
    }
}
/* --------------description_three--------------------*/
/* --------------themeLeast_wrapper--------------------*/
.themeLeast_wrapper{
    width: 100%;
    height: 998px;
    background-color: #F1F3F4;

}
.themeLeast_wrapper h1{
    font-weight: normal;
}

.themeLeast_wrapper ul{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.themeLeast_wrapper ul li{
    list-style: none;
}
.themeLeast_wrapper ul li a{
    text-decoration: none;
    color: black;
    float: left;
    padding: 25px 7px;
    transition: all ease-in-out 0.2s;
}
.themeLeast_wrapper ul li a:hover{
     color: white;
     background-color: #00AEEF;
}
.theme{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;     
    
}
.theme p{
    text-align: center;
    padding: 35px 0px;
    font-size: 20px;
}
.theme div img{
    border: #8F8F8F 10px solid;
    width: 309px;
}
.price{
    color: #006A11;
    font-weight: bold;
}
.themeLeast_navbarButton{
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.themeLeast_navbarButton>img{
    height: 100%;
    width: 100%;
}
@media screen and (max-width:960px) {
    .theme{
        grid-template-columns: repeat(2,1fr);
    } 
    .themeLeast_wrapper{
        height: auto;
    }    
}
@media screen and (max-width:414px) {
          
    .themeLeast_wrapper ul{
        flex-direction: column;
        overflow: hidden;
        height: 0px;
        transition: all ease-in-out 0.5s;
    }
    .themeLeast_wrapper ul a{
        background-color: #898989;
        width: 260px;
        text-align: center;
        margin-top: 5px;
        border-radius: 20px;
        
    }
    
    .themeLeast_navbarButton{
        display: block;
        margin-bottom: 10px;
    }
    .themeLeast_wrapper{
        height: auto;
    }
    .theme{
        display: grid;
        grid-template-columns: repeat(1,1fr);     
        
    }
    .themeLeast_wrapper h1 {
        text-align: center;
    }
}
/* --------------themeLeast_wrapper--------------------*/
/* --------------reviews_wrapper--------------------*/
.reviews_wrapper{
    height: 542px;
}
.reviews_wrapper h1{
    font-weight: normal;
    color: #00AEEF;
    font-size: 30px;
    margin-top: 48px;
}
.Cliant_name{
    color: #FF0005;
}
.reviews{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    grid-gap: 10px;
    margin-top: 50px;    
}
.reviews div p{
    font-size: 14px;
    color: #808080;
}
.reviews div{
    height: 200px;
}
.img{
    float: left;
    width: 22%;
    height: 100%;
}
.reviews div img{
    border: 5px solid grey;
    border-radius: 100%; 
}
@media screen and (max-width:414px) {
    .reviews_wrapper {
       height: auto;
       padding-bottom: 20px;
    }
    .reviews div {
        height: auto;
    }
    .img {
        float: none;
        width: 22%;
    }
}
@media screen and (max-width:960px) {
    .img {
        width: 30%;
    }

}
@media screen and (max-width:320px) {
    .reviews_wrapper {
        height: auto;
        padding-bottom: 50px;
    }
}
/* --------------reviews_wrapper--------------------*/
/* --------------newsFeed_wrapper--------------------*/
.newsFeed_wrapper{
    width: 100%;
    height: 561px;
    background-color: #00AEEF;
}

.newsFeed div{
    background-color: #008FD0;
    padding: 5px;
    height: 280px;
    
}
.newsFeed_wrapper h1{
    margin-bottom: 48px;
    font-size: 30px;
}
.newsFeed p{
    font-size: 14px;
}
.date{
    color: yellow;
}
.newsFeed div img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 17px

}
.newsFeed{
    display: grid;
    grid-template-columns: repeat(5,260px); 
    grid-gap: 5px;
    
    
}
@media screen and (max-width:960px) {
    .newsFeed {
        grid-template-columns: repeat(5,185px);
    }

}
@media screen and (max-width:414px) {
    .newsFeed{
        display: grid;
        grid-template-columns: repeat(1,290px); 
        grid-gap: 5px;
        margin-bottom: 10px;   
    }
    .newsFeed_wrapper{
        height: auto;
    }
    .newsFeed_wrapper h1{
        text-align: center;
        margin-bottom: 10px;
        
    }
}

/* --------------newsFeed_wrapper--------------------*/
/* --------------Tags--------------------*/
.tags_wrapper{
    height: 233px;
}
.tags_wrapper p{
    text-align: center;
    font-size: 13px;
}
/* --------------Tags--------------------*/
/* --------------footer--------------------*/
footer{
    background-color:black;
    height: 74px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
footer p{
    float: left;
    font-size: 13px;
    color: white;
    
}
.social_media_logo{
    float: right;
    
}
.social_media_logo img{
    float: left;
    border-radius:100%;
    margin-right: 10px; 
}
@media screen and (max-width:414px) {
    footer p{
        text-align: center;        
    }    
    .social_media_logo{
        margin-top: 5px;
        float: none;   
    }
    .social_media_logo img{
        float: none; 
    }
    .social_media_logo {
       margin-left: 25%;
    } 
}
@media screen and (max-width:320px) {
    .social_media_logo {
        margin-left: 15%;

    }
}
/* --------------footer--------------------*/
