.firstheader{
    padding-top: 100px;
    padding-bottom: 0px;
    text-align: center;
    
}
.secondheader{
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}
.abourUs p{
    text-align: left;
    padding: 10px 78px;
    text-align: justify;
}
.abourUs{
    margin-bottom: 50px;
}