.sarvicetable {
    padding-top: 100px;
    margin-bottom: 50px;
}
.sarvicetable h1{
    text-align: center;
    margin-bottom: 50px;
    color: #666;
    
}
.sarvicetable table{
    width: 1000px;
}
.sarvicetable table,.sarvicetable table th,.sarvicetable table td {
    border-bottom: 1px solid #c0bfbf;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    color: #666;
} 
.divid{
    height: 50px;
}
.web_sarvice{
    text-align: justify;
    margin-bottom: 50px
}
.web_sarvice p{
    padding: 0px 50px;
}
.web_sarvice h1{
    padding-top:90px;
    padding-bottom:50px;
    text-align: center;


}