body{
    background-color: #e6e6e6;
}
.subscribe_wrapper {
     
}
.sub_h{
    height: 100px;
    text-align: center;
    padding-top:100px;
    font-weight: normal; 
    background-color:white; 
}
.subbox{
    /* display: flex; */
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
}
.subbox p{
    padding: 10px;
    background-color: rgba(15, 15, 15, 0.781);
    color: white;
}
.subbox p:nth-child(1){
    background-color: #0275b8;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 3%;
}
.subbox p:nth-child(2){
    width: 77%;
    background-color: rgba(15, 15, 15, 0.959);
}
.subbox p:nth-child(3){
    width: 20%
}
.subscribe_form{
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
    
}
.subscribe_form input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
.subscribe_form button{
    width: 101%;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
}
.subscribe_wrapper img{
    margin-top: 50px;
    margin-left: 28%;   
}
.subscribe_wrapper button{
    margin-left: 35%;
    width: 25.9%;
    height: 40px;
    border-radius: 5px;
    background: #0067a3;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.subscribe_wrapper input{
    margin-top: 30px;
    margin-left: 35%;
    width: 25%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
    color: white;
    
}
.pragraph{
    margin-top: 40px;
    margin-bottom: 23px;
}