.supprot_wrapper{
    width: 1004px;
    height: 626px;
    display: flex;
    justify-content: space-between center;
    align-content: center;
    
}
.contuct_us{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.contuct_us input{
    width: 80%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    border: none;
    /* border: 1px rgb(153, 150, 150) solid;     */
}
.contuct_us textarea{
    width: 80%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;    
    border: none;    

}
.contuct_us button{
    width: 84.5%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color:#55aadb; 
}
.support_team{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-size: 20px;    
}
.tach_support,.Payment_support{
    /* background-color:#048ddd; */
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    color: gray;
}
.tach_support{
    margin-bottom: 20px;
}
.tach_support h1,.Payment_support h1{
    
}
.Payment_support{
}